@using Chaos.Models;
@using Chaos.Business

@if (Data is not null)
{
    <TabContainer>
        <TabSection Title="Offensive Weapons">
            @if (Data.GetWeaponsByActionType(ActionTypes.Offence).Any())
            {
                @GetWeaponsList(ActionTypes.Offence)
            }
            else
            {
                <h4>No weapon@(ShowAsWeaponsLost ? " losses" : "s found").</h4>
            }
        </TabSection>
        
        <TabSection Title="Defensive Weapons">
            @if (Data.GetWeaponsByActionType(ActionTypes.Defence).Any())
            {
                @GetWeaponsList(ActionTypes.Defence)
            }
            else
            {
                <h4>No weapon@(ShowAsWeaponsLost ? " losses" : "s found").</h4>
            }
        </TabSection>
        
        <TabSection Title="Sentry Weapons">
            @if (Data.GetWeaponsByActionType(ActionTypes.Sentry).Any())
            {
                @GetWeaponsList(ActionTypes.Sentry)
            }
            else
            {
                <h4>No weapon@(ShowAsWeaponsLost ? " losses" : "s found").</h4>
            }
        </TabSection>
        
        <TabSection Title="Sapper Weapons">
            @if (Data.GetWeaponsByActionType(ActionTypes.Sapping).Any())
            {
                @GetWeaponsList(ActionTypes.Sapping)
            }
            else
            {
                <h4>No weapon@(ShowAsWeaponsLost ? " losses" : "s found").</h4>
            }
        </TabSection>
    </TabContainer>

}

@code
{
    [Parameter, EditorRequired] public UserWeaponsData? Data { get; set; }
    [Parameter] public bool ShowAsWeaponsLost { get; set; }

    RenderFragment GetWeaponsList(ActionTypes actionType)
    {
        return
            @<div>
                <table class="table">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>@(ShowAsWeaponsLost ? "Weapons Lost" : "Weapon Count")</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var weapon in Data!.GetWeaponsByActionType(actionType))
                        {
                            <tr>
                                <td>@Weapon.Weapons[weapon.WeaponType].Name</td>
                                <td>@weapon.Count</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>;
    }
}
